# Binaries for programs and plugins

.DS_store
.idea/
*/env
*.exe
*.exe~
*.dll
*.so
*.dylib
*.log
*.jar
# Test binary, built with `go test -c`
*.test
*/build
*/gradle
*/.gradle
# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
