[submodule "openISBT"]
	path = openISBT
	url = https://github.com/martingrambow/openISBT.git
[submodule "sockshop-istio"]
	path = sockshop-istio
	url = https://github.com/boxrhcp/sockshop-istio.git
[submodule "bookinfo"]
	path = bookinfo
	url = https://github.com/boxrhcp/bookinfo.git
